/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* setting */
* {
  margin-block-start: 0;
  margin-block-end: 0;
}

header,
button,
input {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a,
button {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#app {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.hidden {
  display: none;
}

/* style */
#app {
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  width: 500px;
  height: 240px;
  background-color: white;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.intro .img-header{
  margin-bottom: 28px;
}

.intro .txt-intro {
  margin-bottom: 32px;
}

.intro .btn-login {
  display: block;
  width: 440px;
  height: 60px;
  color: white;
  background: #2F80ED;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  line-height: 22px;
}

.modal-login {
  width: 520px;
  background-color: white;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.cont-header {
  position: relative;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #C4C4C4;
}

.cont-header h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.cont-header .btn-close {
  position: absolute;
  top: 22px;
  right: 24px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cont-login {
  padding: 0 24px;
}

.cont-login .txt-login {
  padding: 24px 0 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.cont-login .txt-warning {
  font-size: 14px;
  line-height: 17px;
  color: red;
  margin-bottom: 10px;
}
.cont-login .form-login .inp-id,
.cont-login .form-login .inp-pwd,
.cont-login .form-login .btn-login {
  box-sizing: border-box;
  display: block;
  padding: 15px 16px;
  width: 100%;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

.cont-login .form-login .inp-id:focus.warning,
.cont-login .form-login .inp-pwd:focus.warning{
  border: 2px solid #F4492E;
}

.cont-login .form-login .inp-id {
  margin-bottom: 10px;
}

.cont-login .form-login .inp-pwd {
  margin-bottom: 16px;
}

.cont-login .form-login .label-chk {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #767676;
  cursor: pointer;
}

.cont-login .form-login .inp-chk,
.cont-login .form-login .inp-chk:checked {
  vertical-align: top;
  width: 22px;
  height: 22px;
  background-image: url(../images/uncheck.png);
  background-size: 22px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.cont-login .form-login .inp-chk:checked {
  background-image: url(../images/checked.png);
}

.cont-login .form-login .btn-login {
  margin-bottom: 20px;
  color: white;
  background: #2F80ED;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.user-info-link-wrap {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
}

.user-info-link-wrap .link-signin,
.user-info-link-wrap .link-find-account {
  color: #767676;
}

.user-info-link-wrap .link-signin::after {
  display: inline-block;
  content: "|";
  width: 1px;
  height: 12px;
  margin: 0 14px;
}

.user-info-link-wrap .link-find-account {
  margin-bottom: 30px;
}

.cont-sns-login {
  padding: 0 24px;
}


.cont-sns-login .btn-sns-wrap {
  position: relative;
  border-top: 1px solid #C4C4C4;
  padding-top: 30px; 
}

.cont-sns-login .btn-sns-wrap::after {
  content: "또는";
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 13px;
  color: #767676;
  background-color: #fff;
  font-size: 14px;
  line-height: 18px;
}


.cont-sns-login .btn-sns {
  position: relative;
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  color: #767676;
  border: 1px solid #767676;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.cont-sns-login .btn-sns.btn-google {
  border-color: #767676;
}

.cont-sns-login .btn-sns.btn-facebook {
  border-color: #2D9CDB;
}

.cont-sns-login .btn-sns.btn-naver {
  border-color: #00BF18;
}

.cont-sns-login .btn-sns.btn-kakao {
  border-color: #F2C94C;
}

.cont-sns-login .btn-sns.btn-google:hover,
.cont-sns-login .btn-sns.btn-facebook:hover,
.cont-sns-login .btn-sns.btn-naver:hover,
.cont-sns-login .btn-sns.btn-kakao:hover {
  border-width: 4px;
}

.cont-sns-login .btn-sns.btn-google::before,
.cont-sns-login .btn-sns.btn-facebook::before,
.cont-sns-login .btn-sns.btn-naver::before,
.cont-sns-login .btn-sns.btn-kakao::before {
  display: block;
  content: "";
  position: absolute;
  top: 12px;
  left: 11px;
  float: left;
  background-image: url(../images/google_logo.png);
  width: 28px;
  height: 28px;
}

.cont-sns-login .btn-sns.btn-facebook::before {
  width: 26px;
  height: 26px;
  background-image: url(../images/facebook_logo.png);
}

.cont-sns-login .btn-sns.btn-naver::before {
  background-image: url(../images/naver_logo.png);
}

.cont-sns-login .btn-sns.btn-kakao::before {
  background-image: url(../images/kakao_logo.png);
}